{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
        {% block title %}{% endblock title %}
    </title>

    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="{%static 'admin/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="{%static 'admin/css/style.css' %}" rel="stylesheet" type="text/css" />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="{%static 'admin/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="{%static 'admin/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{%static 'admin/js/modernizr.custom.js' %}"></script>
    <!--webfonts-->
    <link
      href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!--//webfonts-->
    <!--animate-->
    <link href="{%static 'admin/css/animate.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{%static 'admin/js/wow.min.js' %}"></script>
    <script>
      new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="{%static 'admin/js/metisMenu.min.js' %}"></script>
    <script src="{%static 'admin/js/custom.js' %}"></script>
    <link href="{%static 'admin/css/custom.css' %}" rel="stylesheet" />
    <!--//Metis Menu -->
  </head>
  <body class="cbp-spmenu-push">
    {% block body %}{% endblock body %}
    <!-- Classie -->
    <script src="{%static 'admin/js/classie.js' %}"></script>
    <script>
      var menuLeft = document.getElementById("cbp-spmenu-s1"),
        showLeftPush = document.getElementById("showLeftPush"),
        body = document.body;

      showLeftPush.onclick = function () {
        classie.toggle(this, "active");
        classie.toggle(body, "cbp-spmenu-push-toright");
        classie.toggle(menuLeft, "cbp-spmenu-open");
        disableOther("showLeftPush");
      };

      function disableOther(button) {
        if (button !== "showLeftPush") {
          classie.toggle(showLeftPush, "disabled");
        }
      }
    </script>
    <!--scrolling js-->
    <script src="{%static 'admin/js/jquery.nicescroll.js' %}"></script>
    <script src="{%static 'admin/js/scripts.js' %}"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'admin/js/bootstrap.js' %}"></script>
  </body>
</html>