{% extends 'admin/base.html' %}
{% load static %}
{% block title %}page title{% endblock title %}
{% block body %}

<div class="main-content">
		
		{% include 'admin/sidebar.html' %}
		{% include 'admin/header.html' %}
		
      <!-- main content start-->
      <div id="page-wrapper">
        <div class="main-page">
          <div class="tables">
            <h3 class="title1">Between dates reports</h3>

            <div class="table-responsive bs-example widget-shadow">
              <h4>Between dates reports:</h4>
              <?php
$fdate=$_POST['fromdate'];
$tdate=$_POST['todate'];

?>
              <h5 align="center" style="color: blue">
                Report from
                <?php echo $fdate?>
                to
                <?php echo $tdate?>
              </h5>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Invoice Id</th>
                    <th>Customer Name</th>
                    <th>Invoice Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <?php
$ret=mysqli_query($con,"select distinct tblcustomers.Name,tblinvoice.BillingId,tblinvoice.PostingDate from  tblcustomers   
	join tblinvoice on tblcustomers.ID=tblinvoice.Userid  where date(tblinvoice.PostingDate) between '$fdate' and '$tdate'");
$cnt=1;
while ($row=mysqli_fetch_array($ret)) {

?>

                  <tr>
                    <th scope="row"><?php echo $cnt;?></th>
                    <td><?php  echo $row['BillingId'];?></td>
                    <td><?php  echo $row['Name'];?></td>
                    <td><?php  echo $row['PostingDate'];?></td>
                    <td>
                      <a
                        href="view-invoice.php?invoiceid=<?php  echo $row['BillingId'];?>"
                        >View</a
                      >
                    </td>
                  </tr>
                  <?php 
$cnt=$cnt+1;
}?>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--footer-->
      <?php include_once('includes/footer.php');?>
      <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="js/classie.js"></script>
    <script>
      var menuLeft = document.getElementById("cbp-spmenu-s1"),
        showLeftPush = document.getElementById("showLeftPush"),
        body = document.body;

      showLeftPush.onclick = function () {
        classie.toggle(this, "active");
        classie.toggle(body, "cbp-spmenu-push-toright");
        classie.toggle(menuLeft, "cbp-spmenu-open");
        disableOther("showLeftPush");
      };

      function disableOther(button) {
        if (button !== "showLeftPush") {
          classie.toggle(showLeftPush, "disabled");
        }
      }
    </script>
    <!--scrolling js-->
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>
<?php }  ?>

		<!--footer-->
		{% include 'admin/footer.html' %}
        <!--//footer-->
	</div>
{% endblock body %}