{% extends 'admin/base.html' %}
{% load static %}
{% block title %}page title{% endblock title %}
{% block body %}

<div class="main-content">
		
		{% include 'admin/sidebar.html' %}
		{% include 'admin/header.html' %}
		
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="forms">
					<h3 class="title1">Update Services</h3>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
						<div class="form-title">
							<h4>Update Parlour Services:</h4>
						</div>
						<div class="form-body">
							<form method="post">
								<p style="font-size:16px; color:red" align="center">
							 <div class="form-group"> <label for="exampleInputEmail1">Service Name</label> <input type="text" class="form-control" id="sername" name="sername" placeholder="Service Name" value="service instance name" required="true"> </div> <div class="form-group"> <label for="exampleInputPassword1">Cost</label> <input type="text" id="cost" name="cost" class="form-control" placeholder="Cost" value="instance cost" required="true"> </div>
							  <button type="submit" name="submit" class="btn btn-default">Update</button> </form> 
						</div>
						
					</div>
				
				
			</div>
		</div>
		<!--footer-->
		{% include 'admin/footer.html' %}
        <!--//footer-->
	</div>
{% endblock body %}
