{% extends 'admin/base.html' %}
{% load static %}
{% block title %}page title{% endblock title %}
{% block body %}

    <div class="main-content">
      <!-- main content start-->
      <div id="page-wrapper">
        <div class="main-page login-page">
          <h3 class="title1">SignIn Page</h3>
          <div class="widget-shadow">
            <div class="login-top">
              <h4>Welcome back to BPMS AdminPanel !</h4>
            </div>
            <div class="login-body">
              <form role="form" method="post" action="">
                {% csrf_token %}
                <input
                  type="text"
                  class="user"
                  name="username"
                  placeholder="Username"
                  required="true"
                />
                <input
                  type="password"
                  name="password"
                  class="lock"
                  placeholder="Password"
                  required="true"
                />
                <input type="submit" name="login" value="Sign In" />
                <div class="forgot-grid">
                  <div class="forgot">
                    <a href="/home">Back to Home</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="forgot-grid">
                  <div class="forgot">
                    <a href="/forgot-password">forgot password?</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
{% endblock body %}

