{% extends 'admin/base.html' %}
{% load static %}
{% block title %}page title{% endblock title %}
{% block body %}

<div class="main-content">
		
		{% include 'admin/sidebar.html' %}
		{% include 'admin/header.html' %}
		
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h3 class="title1">View Appointment</h3>
					
					
				
					<div class="table-responsive bs-example widget-shadow">
						<p style="font-size:16px; color:red" align="center"> </p>
						<h4>View Appointment:</h4>
						
						<table class="table table-bordered">
							<tr>
    <th>Appointment Number</th>
    <td></td>
  </tr>
  <tr>
<th>Name</th>
    <td></td>
  </tr>

<tr>
    <th>Email</th>
    <td></td>
  </tr>
   <tr>
    <th>Mobile Number</th>
    <td></td>
  </tr>
   <tr>
    <th>Appointment Date</th>
    <td></td>
  </tr>
 
<tr>
    <th>Appointment Time</th>
    <td></td>
  </tr>
  
  <tr>
    <th>Services</th>
    <td></td>
  </tr>
  <tr>
    <th>Apply Date</th>
    <td></td>
  </tr>
  

<tr>
    <th>Status</th>
    <td></td>
  </tr>
</table>


						<table class="table table-bordered">


<form name="submit" method="post" enctype="multipart/form-data"> 

<tr>
    <th>Remark :</th>
    <td>
    <textarea name="remark" placeholder="" rows="12" cols="14" class="form-control wd-450" required="true"></textarea></td>
   </tr>

  <tr>
    <th>Status :</th>
    <td>
   <select name="status" class="form-control wd-450" required="true" >
     <option value="1" selected="true">Selected</option>
     <option value="2">Rejected</option>
   </select></td>
  </tr>

  <tr align="center">
    <td colspan="2"><button type="submit" name="submit" class="btn btn-az-primary pd-x-20">Submit</button></td>
  </tr>
  </form>
						</table>
						<table class="table table-bordered">
							<tr>
    <th>Remark</th>
    <td></td>
  </tr>


<tr>
<th>Remark date</th>
<td></td></tr>

						</table>
					</div>
				</div>
			</div>
		</div>
    
		<!--footer-->
		{% include 'admin/footer.html' %}
    <!--//footer-->
</div>
{% endblock body %}
